body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background-color: rgba(101, 162, 212, 0.5);
}

/*  
====== Header =====
*/

header {
    background-color: rgb(120, 135, 150);
    margin-bottom: 2rem;
}

nav {
    width: 80%;
    margin: 0 auto;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(219, 219, 219);
}

.logo {
    font-size: 1.8rem;
}

.icon {
    font-size: 1.8rem;
}

.cart {
    position: relative;
}

.items-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #fff;
    color: black;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}

/*  
====== Cart =====
*/

.cart-section {
    width: 90%;
    margin: 0 auto;
}

.cart-title {
    text-align: center;
    font-size: 1.8rem;
    color: rgb(76, 132, 179);
    margin-bottom: 1.4rem;
}

.products {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
}

.product {
    display: flex;
    gap: 1rem;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-img {
    width: 80px;
    height: 80px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    color: rgb(60, 68, 77);
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-icon {
    color: rgb(60, 68, 77);
    font-size: 1.2rem;
    cursor: pointer;
}

.count {
    font-size: 1.1rem;
}

.btn-remove {
    border: none;
    background-color: rgb(250, 0, 12);
    padding: 4px 10px;
    border-radius: 18px;
    color: #fff;
    margin-top: 8px;
    cursor: pointer;
}

.cart-total {
    text-align: right;
}
.cart-total p {
    font-size: 1.1rem;
    color: rgb(60, 68, 77);
    font-weight: bold;
}

@media screen and (min-width: 786px) {
    .cart-section {
        width: 60%;
    }

    .product-img {
        width: 150px;
        height: 150px;
    }

    .btn-remove {
        margin-top: 18px;
    }

    .product-icon {
        font-size: 1.6rem;
    }

    .count {
        font-size: 1.4rem;
    }
}
